/*
Colors used:
Primary Color (Dark Blue): #51608c;
Secondary Color (Light Blue): #bfcdd9;
Accent (Red): #94465d;
Accent (Pink): #c37f93
*/

* {
  box-sizing: border-box;
}

body {
font-family: 'Raleway', sans-serif;
}

body {
  background-color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 100; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 100;
}

h2 {
  font-size: 2.25em;
  font-weight: 100;
}

h3 {
  font-size: 1.75em;
  font-weight: 500;
}
h4 {
  font-size: 1.35em;
  font-weight: 500;
}

img {
  width: 100%;
}

a {
  color: #51608c;
  text-decoration: none; /* No underlining */
}
a:visited { /* visited link */
  color: #94465d;
}
a:active { /* selected link */
  color: #c37F93;
}
a:hover {
  color: #bfcdd9;
  text-decoration: underline; /* Underlining when hovering over a link */
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #51608c;
  color: #ffffff; /* needed to override the default link color */
  font-size: 12px;
  font-weight: 500;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #bfcdd9; /* width of the border, type, color */
  transition-duration: 0.2s opacity;
}
.button:visited {
  color: #ffffff
}
.button:active {
  background-color: #94465d;
  border-bottom: 2px solid #c37f93; /* width of the border, type, color */
}
.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button.contact {
  background-color: transparent;
  color: #51608c;
  text-transform: uppercase;
  border: 2px solid #51608c;
}
.button.contact:hover {
  background-color: #bfcdd9;
  color: #ffffff;
  border: 2px solid #bfcdd9;
}
.button.contact:active {
  background-color: #94465d;
  color: #ffffff;
}
/* Layout styling */
.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

.logo {
  max-width: 150px;
  max-height: 57px;
}

#work .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }

#hero h1 {
  text-align: center; /* Centers text */
}
header {
  padding: 10px 0 4px;
  background-color: #bfcdd9;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 6px 6px 20px 0px rgba(81, 96, 140, 0.13);
-moz-box-shadow:    6px 6px 20px 0px rgba(81, 96, 140, 0.13);
box-shadow:         6px 6px 20px 0px rgba(81, 96, 140, 0.13);
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #94465d;
}
nav > ul > li > a:visited {
  color: #51608c;
}
nav > ul > li > a:active {
  color: #c37f93;
}
nav > ul > li > a:hover {
  color: #ffffff;
}
#hero {
  background-color: #bfcdd9;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}
main {
  padding-top: 78px;
}
.profile-picture img{
  max-width: 300px;
}
.navigation {
  list-style-type: none;
}
.navtoggle li:not(:last-child) {
  display: none;
}
.navtoggle, .navtoggle.responsive {
  position: relative;
}
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}
.navtoggle.responsive li  {
  display: block;
}
.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255,127,80,0.5);
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav > ul > li {
    display: inline-block;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  main {
    padding-top: 98px;
  }

  body {
  font-size: 18px;
  }

  .col-md-6 {
  width: 50%;
}

#hero span {
  display: block;
}
[class*="col-"] {
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

#about-page h4 {
  margin-top: 0;
}

nav > ul > li {
  display: inline-block;
}
.navtoggle li:not(:last-child) {
  display: inline-block;
}
.navtoggle li:last-child {
  display: none;
}
nav > ul {
  margin: 1em 0;
}
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
  width: 58.33%;
}

  .col-lg-5 {
  width: 41.66%;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}

#illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}
        .responsive {
          width: 100%;
          height: auto;
        }

        h1 {
            color: #164676;
            margin-bottom: 0.2em;
            font-size: 32px;
        }

        p.subtitle {
            font-size: 1em;
            color: #858585;
            margin: 0.3;
        }

        @media (min-width: 768px) {
            #home-container {
                grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
                grid-template-rows: 1fr;
            }
            #inner {
                grid-column: 2;
                grid-row: 1;
            }

            #illustration {
                grid-column: 3;
                grid-row: 1;
            }

            #heading {
                font-size: 100px;
            }

            p.subtitle {
                font-size: 42px;
            }
        }


        .eye {
          -webkit-animation: blink-1 0.6s 3s 1 both;
  	              animation: blink-1 0.6s 3s 1 both;
          }

          @-webkit-keyframes blink-1 {
            0%,
            50%,
            100% {
              opacity: 1;
            }
            25%,
            75% {
              opacity: 0;
            }
          }
          @keyframes blink-1 {
            0%,
            50%,
            100% {
              opacity: 1;
            }
            25%,
            75% {
              opacity: 0;
            }
          }


     #timothy {
          animation-name: sink;
          animation-duration: 6s;
          animation-delay: 3s;
          animation-iteration-count: infinite;
          animation-direction: alternate;
          animation-timing-function: ease-in;
      }

      @keyframes sink {
          from {
              transform: translate(0px, 0px);
           }
           to {
              transform: translate(0px, 400px);
           }
      }


footer {
  text-align: center;
  padding: 10px 0;
  background-color: #bfcdd9;
  width: 100%;
}
#hero-about {
  background-color: #ffffff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}
ul.social {
    list-style: none;
    padding: 0px;
}
ul.social li {
    display: inline-block;
}
.social-icon {
  font-size: 48px;
  color:black;
  padding-left: 12px;
  padding-right: 12px;
}

#thank {
  text-align: center;
}
