/*
Colors used:
Primary Color (Dark Blue): #51608C;
Secondary Color (Light Blue): #BFCDD9;
Accent (Red): #94465D;
Accent (Pink): #C37F93
*/

* {
  box-sizing: border-box;
}

body {
font-family: 'Raleway', sans-serif;
}

body {
  background-color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 100; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 100;
}

h2 {
  font-size: 2.25em;
  font-weight: 100;
}

h3 {
  font-size: 1.75em;
  font-weight: 500;
}
h4 {
  font-size: 1.35em;
  font-weight: 500;
}

img {
  width: 100%;
}

a {
  color: #51608C;
  text-decoration: none; /* No underlining */
}
a:visited { /* visited link */
  color: #94465D;
}
a:active { /* selected link */
  color: #C37F93;
}
a:hover {
  color: #BFCDD9;
  text-decoration: underline; /* Underlining when hovering over a link */
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #51608C;
  color: #ffffff; /* needed to override the default link color */
  font-size: 12px;
  font-weight: 500;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #BFCDD9; /* width of the border, type, color */
  transition: 0.2s opacity;
}
.button:visited {
  color: #ffffff
}
.button:active {
  background-color: #94465D;
  border-bottom: 2px solid #C37F93; /* width of the border, type, color */
}
.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button.contact {
  background-color: transparent;
  color: #51608C;
  text-transform: uppercase;
  border: 2px solid #51608C;
}
.button.contact:hover {
  background-color: #BFCDD9;
  color: #ffffff;
  border: 2px solid #BFCDD9;
}
.button.contact:active {
  background-color: #94465D;
  color: #ffffff;
}
/* Layout styling */
.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

.logo {
  max-width: 250px;
}

#work .row { padding-bottom: 25px; border-bottom: 1px solid #4a4a4a; }

#hero h1 {
  text-align: center; /* Centers text */
}
header {
  text-align: center;
  padding: 10px 0;
  background-color: #BFCDD9;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 6px 6px 20px 0px rgba(81, 96, 140, 0.13);
-moz-box-shadow:    6px 6px 20px 0px rgba(81, 96, 140, 0.13);
box-shadow:         6px 6px 20px 0px rgba(81, 96, 140, 0.13);
}

nav > ul {
  display: inline-block;
  width: 100%
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #94465D;
}
nav > ul > li > a:visited {
  color: #51608C;
}
nav > ul > li > a:active {
  color: #C37F93;
}
nav > ul > li > a:hover {
  color: #ffffff;
}
#hero {
  background-color: #BFCDD9;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
main {
  padding-top: 196px;
}
