body {
  background-color: lightgrey;
}
/*
Colours used:
Primary Colour (Blue): #51608C;
Secondary Colour (Light Blue): #BFCDD9;
Accent (Maroon): #94465D;
*/
body {
font-family: 'Raleway', sans-serif;
}

body {
  background-color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 100; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.75em;
  font-weight: 100;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.25em;
  font-weight: 100;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.75em;
  font-weight: 500;
}
h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.35em;
  font-weight: 500;
}
img {
  width: 100%;
}
